__pycache__/
*.py[cod]
*$py.class

.env/
.env.*
.build/
build/
dist/
.eggs/
*.egg
*.egg-info/
*.egg-info
MANIFEST

.venv/
venv/
ENV/
env/
/credentials/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.iml

*.env
.env.*


.cache/

